{
  "presets": [
    [
      "babel-preset-env",
      {
        "targets": {
          "browsers": [
            "Chrome >= 60",
            "Safari >= 10.1",
            "iOS >= 10.3",
            "Firefox >= 54",
            "Edge >= 15"
          ]
        },
        "modules": "commonjs"
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    ["babel-plugin-transform-object-rest-spread", { "useBuiltIns": true }],
    ["babel-plugin-transform-react-jsx", { "useBuiltIns": true }],
    "babel-plugin-transform-export-extensions"
  ]
}
