sudo: false
language: node_js
cache: yarn
node_js:
  - "8"
before_script:
  - rm -rf ./coverage
install:
  - yarn global add codecov
  - yarn
script:
  - yarn lint
  - yarn build
  - yarn coverage
  - codecov
