.css-loaderStyle-12gr8ap {
  display: inline-block;
}
.css-loaderStyle-12gr8ap > div {
  width: 60px;
  height: 60px;
  position: relative;
}
.css-loaderStyle-12gr8ap > div div {
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 6px;
  border-color: #00bcd4;
  opacity: 0.4;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-loaderStyle-12gr8ap > div div:first-child {
  -webkit-animation: loaderRigthRotate 2s 0s infinite linear;
  animation: loaderRigthRotate 2s 0s infinite linear;
}
.css-loaderStyle-12gr8ap > div div:nth-child(2) {
  -webkit-animation: loaderLeftRotate 2s 0s infinite linear;
  animation: loaderLeftRotate 2s 0s infinite linear;
}
